{% extends 'layout.html' %} {% load widget_tweaks %} {% block nav %}
<nav class="blue ligthen-4">
  <div class="nav-wrapper">
    <a href="{% url 'index' %}" class="brand-logo"
      >Rolodex<i class="material-icons">chrome_reader_mode</i></a
    >
    <ul class="right">
      <li class="search_form">
        <form method="get">
          <div class="row">
            <div class="col s2">
              <i class="material-icons" id="search-icon">search</i>
            </div>
            <div class="col s10">{{myFilter.form}}</div>
          </div>
        </form>
      </li>
      <li>
        <a href="{% url 'add' %}"><i class="material-icons">add</i></a>
      </li>
    </ul>
  </div>
</nav>
{% endblock %} {% block body %} {% if contacts and contact_count > 0 %}

<div class="container">
  <div class="row">
    {% for contact in contacts %}
    <div class="col s12 m4 l3">
      <div
        class="card animate__animated animate__fadeInUp card-panel hoverable"
      >
        <div class="card-image">
          <img src="{{ contact.image_url.url }}" />
        </div>
        <div class="fixed-action-btn">
          <a
            class="btn-floating btn-large blue ligthen-4"
            href="{% url 'update_contact' contact.id %}"
          >
            <i class="large material-icons">mode_edit</i>
          </a>
          <ul>
            <li>
              <a
                class="btn-floating blue ligthen-4"
                href="{% url 'delete_contact' contact.id %}?del=true"
                ><i class="material-icons">clear</i></a
              >
            </li>
          </ul>
        </div>
        <div class="card-content blue lighten-5">
          <span>
            <ul class="">
              <li class="row">
                <i class="material-icons col s2">account_box</i
                >{{contact.contact_name}}
              </li>
              <li class="row">
                <i class="material-icons col s2">email</i>{{contact.email}}
              </li>
              <li class="row">
                <i class="material-icons col s2">phone_iphone</i
                >{{contact.contact}}
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var elems = document.querySelectorAll(".fixed-action-btn");
    var instances = M.FloatingActionButton.init(elems, {
      direction: "left",
    });
  });
</script>
{% elif contact_count == 0 %}
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <h6>
          You have yet to add anyone on this app. Click the
          <a href="{% url 'add' %}"><i class="material-icons">add</i></a> icon
          to do so
        </h6>
      </div>
    </div>
  </div>
</div>
{% elif contact_count > 0 %}
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <h6>Unable to search for "{{q}}"</h6>
      </div>
    </div>
  </div>
</div>

{% endif %} {% endblock %}
